:root {
    --50-cyan: #f0f9ff;
    --100-cyan: #cffafe;
    --200-cyan: #a5f3fc;
    --300-cyan: #67e8f9;
    --400-cyan: #22d3ee;
    --500-cyan: #06b6d4;
    --600-cyan: #0891b2;
    --700-cyan: #0e7490;
    --800-cyan: #155e75;
    --900-cyan: #164e63;
    --950-cyan: #083344; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 'sidebar header'
                         'sidebar main';
    width: 100%;
    background-color: var(--50-cyan);
}

header {
    display: grid;
    grid-area:header;
    grid-template-rows: 1fr 1.2fr;
    grid-template-areas: 'header-top'
                         'header-bottom';
    background-color: var(--100-cyan);
}

.header-top-container {
    display: grid;
    grid-area: header-top;
    grid-template-columns: 4fr 3fr;
    padding-top: 3vh;
}


.greeting {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'primary-avatar hi'
                         'primary-avatar main-name';
}

.primary-avatar {
    grid-area: primary-avatar;
    align-self: center;
    margin: 0 15px 0 50px;
}

.hi {
    grid-area: hi;
    align-self:self-end;
}

.main-name {
    grid-area: main-name;
}

.header-top-right {
    display: grid;
    grid-template-columns: repeat(3, 150px);
}

.header-top-right img:first-child {
    justify-self: end;
    align-self: center;
}

.header-top-right img:nth-child(2) {
    justify-self: center;
}

.header-top-right span:last-child {
    justify-self: center;
    align-self: center;
}

.header-bottom-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-area: header-bottom;
    justify-content: center;
}

.header-button-group {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    place-items: center;
}

.search {
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-self: right;
}

.search input {
    width: 420px;
    height: 35px;
}

.search img {
    justify-self: right;
}

main {
    display: grid;
    grid-area: main;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'projects announcetrend';
    background-color: var(--500-cyan);
}

.announcetrend {
    grid-area: announcetrend;
}

.announcement-container {
    border: 1px solid black;
}

.announcement-card, .trending-card {
    max-width: 350px;
    height: 100px;
}
.sidebar {
    display: flex;
    grid-area: sidebar;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    height: 100%;
    border: 1px solid black;
    color: white;
    background-color: var(--950-cyan);
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    font-size: 2rem;
    gap: 15px;
}

.sidebar ul:first-child {
    padding-top: 20px;
}

button {
    color: white;
    background-color: var(--950-cyan);
    width: 125px;
    padding: 10px;
    border-radius: 20px;
}


.project-card-container {
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 15px;
    margin: 20px;
}

.project-card {
    border-left: 10px solid var(--950-cyan);
    padding: 40px;
}


.card {
    background-color: white;
    border-radius: 10px;
}

.svg {
    width: 2rem;
}

.svg.avatar {
    width: 3.5rem;
    border-radius: 50%;
}

.header-bottom .svg.avatar {
    width: 4.5rem;
}

.project-card-icons {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.project-card-title {
    margin-bottom: 10px;
}

.search-input {
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 10px;
    border:none;
}

.projects h2 {
    margin-left: 20px;
    margin-top: 20px;
}