:root {
    --50-cyan: #f0f9ff;
    --100-cyan: #cffafe;
    --200-cyan: #a5f3fc;
    --300-cyan: #67e8f9;
    --400-cyan: #22d3ee;
    --500-cyan: #06b6d4;
    --600-cyan: #0891b2;
    --700-cyan: #0e7490;
    --800-cyan: #155e75;
    --900-cyan: #164e63;
    --950-cyan: #083344; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 'sidebar header'
                         'sidebar main';
}

header {
    grid-area:header;
    background-color: var(--100-cyan);
}

main {
    display: grid;
    grid-area: main;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas: 'projects projects announcetrend';
}

.announcetrend {
    grid-area: announcetrend;
}

.sidebar {
    grid-area:sidebar;
    border: 1px solid black;
    color: white;
    background-color: var(--800-cyan);
}

button {
    color: white;
    background-color: var(--800-cyan);
}


.project-card-container {
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 10px;
}

.project-card-container, .announcement-container, .trending-container {
    border: 1px solid black;
    background-color: var(--50-cyan);
    width: 100%;
}

.card {
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
}

.svg {
    width: 2rem;
}

.svg.avatar {
    width: 3.5rem;
    border-radius: 50%;
}

.header-bottom .svg.avatar {
    width: 4.5rem;
}